.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
composer.lock

*.log

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.com
*.class
*.dll
*.exe
*.o
*.so

.idea
.env
/vendor
/trash
/storage/*
!/storage/filemanager/
/storage/filemanager/*
!/storage/filemanager/.gitkeep
/composer.json
/config/development.php
/config/production.php
/config/env.php
/tools/
/microstatic/config/development.php
/microstatic/config/env.php
/microstatic/config/production.php
